*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Larsseit", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Larsseit", sans-serif;
  font-size: 14px;
  color: #22356f;
  margin: 0 auto;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.eot");
  src: local("☺"), url("fonts/Larsseit-Medium.woff") format("woff"),
    url("fonts/Larsseit-Medium.ttf") format("truetype"),
    url("fonts/Larsseit-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Light.eot");
  src: local("☺"), url("fonts/Larsseit-Light.woff") format("woff"),
    url("fonts/Larsseit-Light.ttf") format("truetype"),
    url("fonts/Larsseit-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.eot");
  src: local("☺"), url("fonts/Larsseit-Bold.woff") format("woff"),
    url("fonts/Larsseit-Bold.ttf") format("truetype"),
    url("fonts/Larsseit-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit.eot");
  src: local("☺"), url("fonts/Larsseit.woff") format("woff"),
    url("fonts/Larsseit.ttf") format("truetype"),
    url("fonts/Larsseit.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  max-width: 1440px;
  background: url(../image/Group8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.main {
  flex: 1 1 auto;
}

.header-container {
  max-width: 1130px;
  margin: 0 auto 11.625rem;
  display: flex;
  min-height: 77px;
}

.header-logo {
  flex: 0 0 120px;
  align-self: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.035em;
  color: #62d0df;
}
.header-menu {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  margin: 36px 0 24px;
}
.header-menu-list {
  display: flex;
}
.header-menu-item {
  margin: 0 20px;
}

.header-menu-link {
  color: inherit;
  font-size: 14px;
  line-height: 1.6;
}

.header-menu-link:hover {
  border-bottom: 1px solid;
}

.header-button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.header-button-link {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  color: #ffffff;
  background: #62d0df;
  border-radius: 50px;
  transition: 0.5s ease;
  z-index: 1;
}

.header-button-link:hover {
  background: #0c525c;
}

.header-thrive-container {
  max-width: 1130px;
  margin: 0 auto;
}

.thrive-logo {
  display: inline-block;
  width: 120px;
  margin: 0 0 38px;
}

.header-thrive-title-block {
  max-width: 500px;
  margin: 0 0 57px;
}
.header-thrive-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.04em;
}
.header-thrive-text-block {
  width: 480px;
  margin: 0 0 64px;
}
.header-thrive-text {
  font-size: 24px;
  line-height: 42px;
}

.header-thrive-click {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.3;
  letter-spacing: 0.1em;
  background: #f9b640;
  color: #ffffff;
  transition: 0.5s ease;
}

.header-thrive-click:hover {
  background: #f89e02;
}
@media (max-height: 2000px) {
  .first-blocks {
    padding: 0 35px;
    height: 360px;
  }
  .second-blocks {
    flex: 1 1 33.3%;
    height: 480px;
  }
}

@media (max-width: 1440px) {
  .header,
  .main,
  .footer {
    width: 100vw;
  }

  .header-container {
    max-width: 1000px;
    margin: 0 auto 6.625rem;
  }
  .header-thrive-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .first-blocks-container {
    max-width: 1000px;
  }
  .first-blocks {
    padding: 0 35px;
    height: 300px;
  }
  .second-blocks {
    flex: 1 1 33.3%;
    height: 380px;
  }
}

@media (max-width: 1200px) {
  .header,
  .main,
  .footer {
    width: 100vw;
  }
  .header-container {
    max-width: 900px;
    margin: 0 auto 2.625rem;
  }
  .header-thrive-container {
    max-width: 900px;
    margin: 0 auto;
  }
  .header-thrive-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
  }
  .header-thrive-title-block {
    max-width: 500px;
    margin: 0 0 23px;
  }
  .first-blocks-container {
    max-width: 900px;
  }
  .first-blocks {
    padding: 0 35px;
    height: 242px;
  }
  .second-blocks {
    flex: 1 1 33.3%;
    height: 300px;
  }
}
.why-container {
  max-width: 1440px;
  display: flex;
}

.why-text-container {
  width: 62%;
  margin: 0 auto;
}

.why-text {
  flex: 1 1 53%;
  background: #62d0df;
}

.why-text-title {
  margin-top: 131px;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  font-weight: 700;
  color: #fff;
}

.why-text-item {
  margin-top: 75px;
  margin-bottom: 95px;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
}

.why-image {
  flex: 1 1 37%;
}

.why-image img {
  width: 100%;
  height: 100%;
}

.help-container {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}
.help-container-text {
  margin-top: 150px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
}
.help-container-title {
  margin-top: 76px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}

.first-blocks-container {
  max-width: 1440px;
  display: flex;
  margin-bottom: 117px;
}

.first-blocks {
  padding: 0 35px;
  max-height: 360px;
}

.first-blocks-pink {
  background-color: #ffe2de;
  flex: 1 1 25%;
}
.first-blocks-green {
  background-color: #c4e769;
  flex: 1 1 25%;
}
.first-blocks-aqua {
  background-color: #62d0df;
  flex: 1 1 25%;
}
.first-blocks-blue {
  background-color: #0052c1;
  flex: 1 1 25%;
}

div div hr {
  margin-top: 58px;
  color: #fff;
  border-top: 1px solid;
}

div div h3 {
  margin-top: 24px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.006em;
  font-weight: 700;
  color: #fff;
}

div div h3::before {
  content: "";
  display: inline-block;
  transform: translateY(-30%);
  margin-right: 15px;
  width: 10px;
  height: 10px;
  background-color: #e9b730;
  border-radius: 50%;
}

.second-blocks-container {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.second-block-darkblue {
  background-color: #22356f;
}
.second-block-blue {
  background-color: #0052c1;
}
.second-blocks {
  flex: 1 1 33.3%;
  max-height: 480px;
  padding: 18px 55px;
}
.second-block-strawberry {
  padding: 0;
}

.strawberry-image {
  width: 100%;
  height: 100%;
}

.second-block-aqua {
  background-color: #62d0df;
}
.second-block-grey {
  background-color: #dee1ff;
}
.second-block-violet {
  background-color: #8f00ff;
}

.third-blocks-container {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.third-blocks {
  flex: 1 1 33.3%;
  height: 240px;
  padding: 60px 50px;
}

div div h4 {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
}

.third-blocks p {
  margin-top: 26px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.should-container {
  max-width: 1440px;
  display: flex;
}
.should-image {
  flex: 1 1 33%;
  height: 800px;
  overflow: hidden;
}
.should-img {
  width: 100%;
  height: 100%;
}
.should-text {
  flex: 1 1 67%;
  padding: 0 100px 0 105px;
}
.should-text-title {
  margin-top: 105px;
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 0.06em;
}
.should-text-item {
  margin-top: 140px;
  font-weight: bold;
  font-size: 33px;
  line-height: 53px;
  letter-spacing: -0.01em;
}
.should-text-end {
  margin-top: 90px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fab63e;
}

.ready-container {
  max-width: 1440px;
  display: flex;
}
.ready-text {
  flex: 1 1 67%;
  padding: 0 160px 0 105px;
  background: #22356f;
  color: #fff;
}
.ready-text-title {
  margin-top: 105px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
}

.ready-text-bold {
  margin-top: 100px;
  font-weight: bold;
  font-size: 50px;
  line-height: 94px;
  letter-spacing: -0.01em;
}

.ready-text-item {
  margin-top: 40px;
  font-weight: 500;
  font-size: 33px;
  line-height: 53px;
  letter-spacing: -0.01em;
}
.ready-text-end {
  margin-top: 50px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1em;
  color: #fab63e;
}

.aqua {
  color: #62d0df;
}
.ready-image {
  flex: 1 1 33%;
  height: 800px;
}
.ready-img {
  width: 100%;
  height: 100%;
}

.info-container {
  max-width: 1440px;
  display: flex;
  height: 380px;
}
.info-image {
  flex: 1 1 39%;
}

img[alt="footer"] {
  height: 100%;
  width: 100%;
}
.info-rows {
  flex: 1 1 59%;
}

.rows-container {
  display: flex;
  padding: 6.375rem 3.125rem;
}
.rows {
  margin-right: 1.475rem;
  flex: 1 1 33.3%;
}

.rows:last-child {
  margin-right: 0;
}

.row-title {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.006em;
  margin-bottom: 2.5rem;
}
.row1-text {
  color: rgba(34, 53, 111, 0.5);
}

.row2-text {
  color: rgba(34, 53, 111, 0.5);
}

.row-tel,
.row-mail {
  display: block;
  margin: 10px 0;
}

.row-tel {
  margin-top: 1.875rem;
  color: rgba(34, 53, 111, 0.5);
}

.row-mail {
  color: #006dff;
}

.row3-text {
  color: rgba(34, 53, 111, 0.5);
}
.copyright-container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: #62d0df;
}

.copyright-text {
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: -0.006em;
  color: #fff;
  margin-left: 9.375rem;
}

.copyright-text::before {
  content: "\A9";
  color: #fff;
  margin-right: 0.625rem;
}
